*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: red;
}
.container{
    width:100%;
    text-align: center;
    padding: 5px;
    background-color: gray;
}
.container1{
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 8%;
    margin-bottom: 2%;
}
.hd{
    width: 2%;
    display: inline-block;
    visibility: hidden;
}
.box{
    width: 32%;
    height:260px;
    text-align: center;
    padding: 5px;
    background-color: gray;
}
.box1{
    width: 23.5%;
    height:80px;
    text-align: center;
    padding: 5px;
    background-color: gray;
    margin-top: 20px;
    color: transparent;
}
.flex-cont{
    display: flex;
}
@media only screen and (min-width:768px){
    body{
        background-color: yellow;
    }
}
@media only screen and (min-width:1280px){
    body{
        background-color: green;
    }
}
