*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(197, 209, 189);
}
.container{
    width:1336px;
    text-align: center;
    padding: 5px;
    background-color: gray;
}
.container1{
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 83px;
    margin-bottom: 50px;
}
.hd{
    width: 20px;
    display: inline-block;
    float: left;
    visibility: hidden;
}
.box{
    width:432px;
    height:260px;
    float: left;
    text-align: center;
    padding: 5px;
    background-color: gray;
}
.box1{
    width: 319px;
    height:80px;
    float: left;
    text-align: center;
    padding: 5px;
    background-color: gray;
    margin-top: 20px;
    color: transparent;
}
